header{
  display: flex;
  height: 60px;
  justify-content: space-between;
  border-bottom: 1px solid #002F1A;
}

header h2 {
  width: 40%;
}

nav{
  width: 40%;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  margin-left: 15px;
  width: fit-content;
}

nav ul li:hover{
  border-bottom: 5px solid #00B102;
}

.menu-main{
  display: flex;
}

.signUp{
  justify-self: flex-end;
}

.active{
  border-bottom: 5px solid #00B102;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  h2.title-header {
    display: none;
  }
}