<h1>Sobre</h1>

<div class="content-about">
  <p>É uma forma de implementar o Challenge Based Learning que a Apple ajudou a criar. Um mecanismo em que você vai se engajar em cima de um problema, para só depois investigar soluções com cursos, conteúdos e conversas ou até mesmo com o conhecimento que você já possui! Finalmente, vai agir e colocar seu resultado final no ar. Tudo isso com você comentando e ajudando nos projetos de colegas. Para mais informações <a href="https://www.alura.com.br/challenges/back-end-3">clique aqui</a>.</p>
</div>

<h2>Tecnologias utilizadas</h2>

<ul class="list-techs">
  <li title="HTML5">
    <span>
      <img src="img/html5.svg" alt="Logo do Html5"/>
    </span>
    <small>HTML5</small>
  </li>
  <li title="CSS3">
    <span>
      <img src="img/css3.svg" alt="Logo do CSS3"/>
    </span>
    <small>CSS3</small>
  </li>
  <li title="Javascript">
    <span>
      <img src="img/js.svg" alt="Logo do JavaScript"/>
    </span>
    <small>Javascript</small>
  </li>
  <li title="NodeJS">
    <span>
      <img src="img/nodejs.svg" alt="Logo do NodeJS">
    </span>
  </li>
  <li title="Express">
    <span>
     <img src="img/express.svg" alt="Logo do Express">
    </span>
    <small>Express</small>
  </li>
  <li title="EJS">
    <span>
      <img src="img/ejs.svg" alt="">
    </span>
    <small>EJS</small>
  </li>
  <li title="Sequelize">
    <span>
      <img src="img/sequelize.svg" alt="Logo do Sequelize">
    </span>
    <small>Sequelize</small>
  </li>
  <li title="MariaDB">
    <span>
      <img src="img/mariadb.svg" alt="Logo do MariaDB">
    </span>
    <small>MariaDB</small>
  </li>
</ul>


