<%- include('partials/header.ejs') %>
<main>
  <h1>Análise de Transações</h1>
  <p>Este é o projeto referente ao <strong>Challenge de Back-End 3ª Edição</strong> da <a href="https://www.alura.com.br/challenges/back-end-3">Alura</a>. Com o <strong>objetivo</strong> de desenvolver uma aplicação web para analisar transações financeiras.</p>
  <h2>IMPORTAR AS TRANSAÇÕES</h2>
  <form id="form-upload" enctype="multipart/form-data" action="/uploads" method="post">
    <div class="container-input">
      <label class="label-input-file" for="input-file">
        <span>
          Encontrar
        </span>
      </label>
      <input type="file" name="file" id="input-file" accept=".csv">
    </div>
    <div class="submit">
      <small>Selecione o arquivo para realizar o upload</small>
      <input type="submit" value="Importar">
    </div>
  </form>
  <%- include('tableImports') %>
</main>