<main class="principal-signIn">
  <div class="main-sighIn">
    <h1>Login</h1>
    <form action="/authenticate" method="post">
      <div class="input-text">
        <input type="email" name="email" id="email" placeholder=" ">
        <label for="email">E-mail</label>
      </div>
      <div class="input-text">
        <input type="password" name="password" id="password" placeholder=" ">
        <label for="password">Senha</label>
      </div>
      <div class="input-btn">
        <input class="btn" type="submit" value="Sign In">
      </div>
    </form>
  </div>
</main>