<header>
  <h2 class="title-header">Challenge 3ª Edição</h2>
  <nav>
    <ul>
      <li><a href="/" id="menu-home">Home</a></li>
      <li><a href="/about" id="menu-about">Sobre</a></li>
      <li><a href="/users/novo" id="menu-user">Sign up</a></li>
    </ul>
  </nav>
</header>